.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    border: 1px solid black;
    width: fit-content;
    padding: 10px 30px 20px 4cqmin;
    box-shadow: 10px 10px 10px lightgray;
}

h3{
    text-align: center;
}

footer{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin: 20px;
    border: 1px solid blue;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 10px;
}

label{
    font-weight: 600;
}

button{
    background-color: antiquewhite;
    margin-left: 20px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
}

button:first-child {
    background-color: yellow;
}